@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

/* NAV */
.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 4rem;
}
/* END NAV */

/* SELECT TITLE */
.site-title {
    text-align: center;
}
.site-title h1 {
    color: black;
    padding-top: 5%;
}
.site-title p {
    color: black;
}

/* SELECT */
.details {
    color: black;
    cursor: pointer;
    border: black 2px solid;
    border-radius: 30px;
    margin-top: 3rem;
    padding: .5rem 0 0 .5rem;
    transition: .4s;
}
.details:hover {
    background-color: black;
    color: white;
}

/* LOAD */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }