@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,p {
    color: white;
}

/* MAIN */

/* NAV */
.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 4rem;
}
/* END NAV */

/* CARD */
.fix-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 14rem 14rem;
    border-radius: 10px;
    border: 2px black solid;
}
.card {
    position: fixed;
    border: none;
    width: 25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.word, .head_desp, .lyrics, .title, .tran, #num {
    color: black;
}
.title {
    font-weight: 700;
}
.btn-ele {
    text-align: center;
}
.lyrics {
    height: 2rem;
}
button {
    margin-top: 1rem;
    padding: .8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    border: 2px black solid;
    transition: .4s;
}
button:hover {
    background-color: black;
    color: white;
}
.fas {
    cursor: pointer;
    position: absolute;
    right: 0;
    color: black;
}
.link a {
    margin-right: 1rem;
    font-size: 30px;
    color: black;
}